@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sansita:ital,wght@1,800&display=swap");
:root {
  --primary-color: rgba(6, 252, 6, 0.979);
  --color-red: rgba(255, 0, 0, 0.712);
}

body {
  background: #f2f2f2;
  margin: 1;
  font-family: 'Playfair Display';
}

.navi-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
  padding: 1em;
  z-index: 999;
  width: 97%;
  top: 0%;
  height: 50;
}

.navi-bar .logo {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 1.2em;
}

.navi-bar .logo span {
  color: goldenrod;
}

.navi-bar .primary-navigation {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.3em;
  margin-right: 300 px;
}

.navi-bar .primary-navigation:hover {
  font-weight: bold;
}

.container {
  font-family: 'Sansita';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-around start;
}

a {
  text-decoration: none;
  color: black;
}

.left-col .watch-what {
  font-weight: bold;
  color: black;
}

.left-col .watchlist {
  width: 100%;
  padding: -.1em;
  margin-top: 0;
  margin-bottom: .1em;
  border-radius: .1em;
  border: 1px;
}

.left-col1 .watch-more-movies {
  font-weight: bold;
  color: black;
}

.left-col1 .select-perfect {
  width: 100%;
  padding: -.1em;
  margin-top: 0;
  margin-bottom: .1em;
  border-radius: .1em;
  border: 1px;
}

/*
.left-col2{
    .explore-stream{
        font-weight: bold;
        color: black;
    }
    .select-perfect{
        width:100%;
        padding: -.1em;
        margin-top: 0;
        margin-bottom: .1em;
        border-radius: .1em;
        border: 1px;
    }

    .secondary-Navigation{
        display: flex;
        place-content: space-between;

    }

    .netflix{
        background-color: var(--color-red);
        color :black;
        font-weight: bold;
        font-size: 1.3em;
        border: none;
        margin-bottom: 5em;
        border-radius: 5em;
        display: inline-block;
        padding: .5em 2em;
        width: unset;
        cursor: pointer;
    }

    .hulu{
        background-color: var(--primary-color);
        color :black;
        font-weight: bold;
        font-size: 1.3em;
        border: none;
        margin-bottom: 5em;
        border-radius: 5em;
        display: inline-block;
        padding: .5em 2em;
        width: unset;
        cursor: pointer;
    }

}*/
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.movie {
  width: 300px;
  margin: 1rem;
  border-radius: 3px;
  -webkit-box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1);
  background-color: var blueviolet;
  position: relative;
  overflow: hidden;
}

.movie img {
  width: 100%;
}

.movie-info {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.overview {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cffc66;
  padding: 1rem;
  max-height: 100%;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
}

.movie:hover .overview {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.main2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.movie_up {
  width: 300px;
  margin: 1rem;
  border-radius: 3px;
  -webkit-box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1);
  background-color: var blueviolet;
  position: relative;
  overflow: hidden;
}

.movie_up img {
  width: 100%;
}

.movie-info_up {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.overview_up {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #66fcdb;
  padding: 1rem;
  max-height: 100%;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
}

.movie_up:hover .overview_up {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
/*# sourceMappingURL=main.css.map */