<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">        
    <link rel="stylesheet" type ="text/css" href="find_friends.css">
    <title>Find Friends</title>
</head>
<!-- Right Side bar(buttons) -->
<div class="container-md" class= "Page_Navigation">
    <div class = "Logo_signout">
        <a type="button" href="/Homepage" class="btn btn-outline-secondary Logo">Logo</a>
        <a type="button" href="/logout" class="btn btn-outline-danger">Sign Out</a>
    </div>
    <div class = "Home_button"><a type="button" href="/Homepage" class="btn btn-outline-success">Home</a></div>
    <div class = "Findfriend_button"><a type="button" href="" class="btn btn-outline-success">Find Friend</a></div>
    <div class = "Createroom_button"><a type="button" href="../../mainpage/creatingroom/createRoom.html" class="btn btn-outline-success">Create Room</a></div>
    <div class = "Joinroom_button"><a type="button" href="/join" class="btn btn-outline-success">Join Room</a></div>
    <div class = "Profile_button"><a type="button" href="/profile" class="btn btn-outline-success">Profile</a></div>
    <div class = "Help_button"><a type="button" href="" class="btn btn-outline-success">Help</a></div>
</div>