<!-- Search results -->
<div class="Search_Results">
    <h1> Search Results</h1>
    
    <div id = "search_results" data-bs-spy="scroll" class="scrollspy-example" tabindex="0">
        <p> {{Search_Results.users}}</p>
    </div>
    
</div>
