    <!-- Left Side bar -->
            <div class="jumbotron side-bar-jumbotron" id= "searchbar" name = "User_Search">
                <h1 class="display-4">User Search</h1>
                <!--Post Request -->
                <form action="/find_friends/find_user" method="post">
                    <input type = "text" name="input_text" placeholder="Username">
                    <p id="Search_popup"></p>
                    <button id="friend_button" class="btn btn-primary btn-md"> Find Friend! </button> 
                
            </div>