
.voting_booth{
    width : 500px;
    height: 700px;
    background:	#D3D3D3;
    color: #fff;
    top: 50%;
    left: 20%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    text-align: center;
}
.voting_buttons {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .vote_yes{
      background-color: seagreen;
  }

  .vote_no{
      background-color: red;
  }

.chat_booth{
    width : 500px;
    height: 550px;
    background:	#e2bdbd;
    color: #fff;
    top: 46.7%;
    left: 60%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    text-align: center;
}

.chat_box{
    width : 500px;
    height: 50px;
    color: #fff;
    top: 85%;
    left: 60%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    text-align: center;
}


button[class = sign_out] {
    position:absolute;
    left: 90%;
    top: 5%;
    font-size: 25px;
    background: red;
    font-weight: bold;
}

button[class = home] {
    position:absolute;
    left: 85%;
    top: 20%;
    font-size: 25px;
    background: turquoise;
    font-weight: bold;
    width: 200px;
    height: 80px;
    text-align: center;
}

button[class = find_friend] {
    position:absolute;
    left: 85%;
    top: 30%;
    font-size: 25px;
    background: turquoise;
    font-weight: bold;
    width: 200px;
    height: 80px;
    text-align: center;
}

button[class = create_room] {
    position:absolute;
    left: 85%;
    top: 40%;
    font-size: 25px;
    background: turquoise;
    font-weight: bold;
    width: 200px;
    height: 80px;
    text-align: center;
}
button[class = join_room] {
    position:absolute;
    left: 85%;
    top: 50%;
    font-size: 25px;
    background: turquoise;
    font-weight: bold;
    width: 200px;
    height: 80px;
    text-align: center;
}
button[class = profile] {
    position:absolute;
    left: 85%;
    top: 60%;
    font-size: 25px;
    background: turquoise;
    font-weight: bold;
    width: 200px;
    height: 80px;
    text-align: center;
}
button[class = help] {
    position:absolute;
    left: 85%;
    top: 70%;
    font-size: 25px;
    background: turquoise;
    font-weight: bold;
    width: 200px;
    height: 80px;
    text-align: center;
}

button[class = update] {
    position:absolute;
    left: 35%;
    top: 60%;
    font-size: 25px;
    background: limegreen;
    font-weight: bold;
}


input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
/* Genre Add and Remove Buttons */
button[class = add_genre] {
    position:absolute;
    left: 55%;
    top: 15%;
    font-size: 25px;
    background: red;
    font-weight: bold;
}
button[class = remove_genre] {
    position:absolute;
    left: 70%;
    top: 15%;
    font-size: 25px;
    background: red;
    font-weight: bold;
}