
<html>
<script src="https://www.w3schools.com/lib/w3.js"></script>
<body>
<h1>Welcome, User1</h1>
<h2>Add Genre.</h2>
<form method="post">
    <input type="text" name="addGenre" placeholder="Type genre to add here">

    <button formaction="/add_genre" type="submit" name="submit">
        Add Genre to Profile
    </button>
</form>

<h2>Remove Genre.</h2>
<form method="post">
    <input type="text" name="removeGenre" placeholder="Type genre to remove here">

    <button formaction="/remove_genre" type="submit" name="submit">
        Remove Genre from Profile
    </button>
</form>

<h2>Preferred Genres</h2>
<ul>
    <% questions.forEach(function(question) { %>
    <li>Number: <%= question.number %> - Text: <%= question.text %></li>
    <% }); %>
</ul>

</body>
</html>