
.update_profile_box{
    width : 500px;
    height: 600px;
    background:	#D3D3D3;
    color: #fff;
    top: 50%;
    left: 15%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
}

h1 {
    margin-left: 10%;
    /* margin: 5px; */
    padding: 0 0 10px;
    /* text-align: left; */
    font-size: 30px;
    color: black;
}

.sign_in_box input {
    text-align: center;
    margin-left: 25%;
    width: 50%;
    margin-bottom: 40px;
}

.sign_in_box input[type = "text"], input[type="password"]
{
    border:none;
    border-bottom: 1px solid #fff;
    outline:none;
    height: 40px;
    color: black;
    font-size: 16px;
}

.sign_in_box a.holder{
    margin-left: 25%;
    text-decoration: none;
    font-size: 15px;
    line-height: 0px;
    color: blue;
}

.sign_in_box a.holder:hover
{
    text-decoration: underline;
}

.sign_in_box a.button
{
    margin-left: 40%;
    text-decoration: none;
    border: 1px solid black;
    line-height: 150px;
    background: red;
    color: black;
    font-size: 30px;
    font-weight: bold;
}

.sign_in_box a.button:hover
{
    cursor: pointer;
    background: #ffc107;
}

button[class = sign_out] {
    position:absolute;
    left: 90%;
    top: 5%;
    font-size: 25px;
    background: red;
    font-weight: bold;
}

button[class = home] {
    position:absolute;
    left: 90%;
    top: 10%;
    font-size: 25px;
    background: limegreen;
    font-weight: bold;
}

button[class = find_friend] {
    position:absolute;
    left: 90%;
    top: 15%;
    font-size: 25px;
    background: limegreen;
    font-weight: bold;
}

button[class = create_room] {
    position:absolute;
    left: 90%;
    top: 20%;
    font-size: 25px;
    background: limegreen;
    font-weight: bold;
}
button[class = join_room] {
    position:absolute;
    left: 90%;
    top: 25%;
    font-size: 25px;
    background: limegreen;
    font-weight: bold;
}
button[class = profile] {
    position:absolute;
    left: 90%;
    top: 30%;
    font-size: 25px;
    background: limegreen;
    font-weight: bold;
}
button[class = help] {
    position:absolute;
    left: 90%;
    top: 35%;
    font-size: 25px;
    background: limegreen;
    font-weight: bold;
}

button[class = update] {
    position:absolute;
    left: 15%;
    top: 40%;
    font-size: 25px;
    background: limegreen;
    font-weight: bold;
}

.sign_in_box a.socialf
{
    margin-left: 25%;
    text-decoration: none;
    border: 1px solid black;
    line-height: 15px;
    background: #3b5998;
    color: white;
    font-size: 23px;
    font-family: Klavika;
}

.sign_in_box a.socialg
{
    margin-left: 25%;
    text-decoration: none;
    border: 1px solid black;
    line-height: 15px;
    background: #0F9D58;
    color: black;
    font-size: 23px;
    font-family: Product Sans;
}

/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}