<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
            <body>
                <link rel="stylesheet" href="css/main.css">

                <div class="navi-bar">
                    <div class="container">
                        <a class = "logo" href="#">HighFive <span>Club</span></a> <!-- link for the logo-->
                        <nav>
                            <div class="primary-navigation">
                                <ul class="username"><div id="userN"></div></ul>
                                <ul class="current">Home</ul>
                                <ul class="friends-list"><a href="/find_friends">FriendList</a></ul> <!-- link to the Friends Page-->
                                <ul class="create-room"><a href="../mainpage/creatingroom/createRoom.html">CreateRoom</a></ul> <!-- link to the create room -->

                                <ul class="profile"><a href="/profile">Profile</a></ul>
                                 <ul class="join"><a href="/join">JoinRoom</a></ul>
                                <ul class="sign out"><a href="/logout">SIGN OUT</a></ul>
                            </div>
                        </nav>
                    </div>
                </div>
                <!-- Section 1 right under Navigation-->
                <section class="hero">
                    <div class="container">
                        <div class="left-col">
                            <h1 class="watch-what">Movies from your favorites list!</h1>
                            <main id="favorite">
                            </main>
                            <!-- how to add images that continously change from an API-->
                        </div>
                    </div>
                </section>
                <!--Section 2 More to watch-->
                <section class="watch-more">
                    <div class="container">
                        <div class="left-col1">
                            <h1 class="watch-more-movies">More to Watch</h1>
                            <p class="select-perfect">View Newly Releases and Upcoming movies ></p>
                            <main id="main_up">
                                <div class="movie_up">
                                    <!--img src = "denise-jans-Lq6rcifGjOU-unsplash.jpg" height="480" width="640"/-->
                                     <img src = "denise-jans-Lq6rcifGjOU-unsplash.jpg" height="480" width="640"/>
                                    <div class = "movie-info_up">
                                        <h3> Movie Title</h3>
                                        <h4>Release_Date</h4>
                                    </div>
                                    <div class = "overview_up">
                                        words are here i guess
                                        libby bulb
                                        no lime
                                    </div>
                                </div>

                                <div class="movie_up">
                                    <img src = "denise-jans-Lq6rcifGjOU-unsplash.jpg" height="480" width="640"/>
                                    <!--img src = "denise-jans-Lq6rcifGjOU-unsplash.jpg" height="480" width="640"/-->
                                    <div class = "movie-info_up">
                                        <h3> Movie Title</h3>
                                        <h4>Release_Date</h4>
                                    </div>
                                    <div class = "overview_up">
                                        words are here i guess
                                        libby bulb
                                        no lime
                                    </div>
                                </div>

                                <div class="movie_up">
                                     <img src = "denise-jans-Lq6rcifGjOU-unsplash.jpg" height="480" width="640"/>
                                    <!--img src = "denise-jans-Lq6rcifGjOU-unsplash.jpg" height="480" width="640"/-->
                                    <div class = "movie-info_up">
                                        <h3> Movie Title</h3>
                                        <h4>Release_Date</h4>
                                    </div>
                                    <div class = "overview_up">
                                        words are here i guess
                                        libby bulb
                                        no lime
                                    </div>
                                </div>
                            </main>
                        </div>
                    </div>
                </section>
            <!--Section 3 Exploring-->
                <section class="streaming">
                    <div class="container">
                        <div class="left-col2">
                            <h1 class="explore-stream">Explore What's Streaming</h1>
                            <p class="view-stream">View movies currently streaming></p>
                            <nav>
                                <ul class="secondary-Navigation">
                                 <!-- user input -->
                                <form>
                                    <input type = "text" id="movie_title" placeholder="Movie Title">
                                    <input type = "text" id="movie_id" placeholder= "Movie Id" >
                                    <button type="button" id="submit" >Submit</button>
                                </form>
                                <ul id="Streams"></ul>
                                    <!-- <ul class="netflix">Netflix</ul> -->
                                    <!-- <ul class="hulu">Hulu</ul> -->
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--This deals with the movies that are streaming-->
                    <main id ="main">
                        <div class="movie">
                            <img src = "denise-jans-Lq6rcifGjOU-unsplash.jpg" height="480" width="640"/>
                            <div class = "movie-info">
                                <h3> Movie Title</h3>
                            </div>
                            <div class = "overview">
                                words are here i guess
                                libby bulb
                                no lime
                            </div>
                        </div>

                        <div class="movie">
                            <img src = "denise-jans-Lq6rcifGjOU-unsplash.jpg" height="480" width="640"/>
                            <div class = "movie-info">
                                <h3> Movie Title</h3>
                            </div>
                            <div class = "overview">
                                words are here i guess
                                libby bulb
                                no lime
                            </div>
                        </div>

                        <div class="movie">

                            <img src="denise-jans-Lq6rcifGjOU-unsplash.jpg" height="480" width="640"/>
                            <div class = "movie-info">
                                <h3> Movie Title</h3>
                            </div>
                            <div class = "overview">
                                words are here i guess
                                libby bulb
                                no lime
                            </div>
                        </div>
                    </main>
                </section>
                <script src="../../viewUpComing.js"></script>
                <script src="../../movieViews.js"></script>
                <script src="../../viewUpComing.js"></script>
            </body>

            <script>
            document.getElementById("userN").innerHTML = "Welcome " + JSON.parse('{{{userSession}}}');
            if(JSON.parse(`{{{userFavorites}}}`).length === 0){
                document.getElementById("favorite").innerHTML = "You have no favorite movies!"
            }else{
                favoriteMovies(JSON.parse(`{{{userFavorites}}}`)).then(data1 => showFavoriteMovies(data1))
            }
            </script>
</html>
