
<html>
<head>
    <title>Profile Page</title>
    <link rel="stylesheet" type="text/css" href="styleProfile.css">
</head>
<script src="https://www.w3schools.com/lib/w3.js"></script>
<body>

<h1>Profile Page</h1>

<div class="update_profile_box">
<h1><div id="userN"></div></h1>
<h2>Add/Remove Genre.</h2>
<form method="post">
    <input type="text" name="addGenre" placeholder="Type genre to add here">
    <button formaction="/add_genre" type="submit" name="submit">
        Add Genre to Profile
    </button>
</form>
<form method="post">
    <input type="text" name="removeGenre" placeholder="Type genre to remove here">
    <button formaction="/remove_genre" type="submit" name="submit">
        Remove Genre from Profile
    </button>
</form>

<h2>Add/Remove Favorite Movies.</h2>
<form method="post">
    <input type="text" name="addFavorite" placeholder="Type Favorite movie to add here">
    <button formaction="/add_favorite" type="submit" name="submit">
        Add Favorite movie to page
    </button>
</form>


<form method="post">
    <input type="text" name="removeFavorite" placeholder="Type Favorite movie to remove here">
    <button formaction="/remove_favorite" type="submit" name="submit">
        Remove favorite movie from page
    </button>
</form>


</div>


<button class="sign_out" onclick="location.href='/logout';"> SIGN OUT</button>
<button class="home" onclick="location.href='/homepage';"> Home</button>
<button class="find_friend"> Find Friend</button>
<button class="create_room"> Create Room</button>
<button class="join_room"> Join Room</button>
<button class="profile" > Profile</button>
<button class="help"> Help</button>

<div class="your_lists">
<h2>Preferred Genres</h2>
<ul id="genreList"></ul>
<h2>Favorite Movies</h2>
<ul id="favoritesList"></ul>
</div>



</body>
<script>
    //let data = ['Ram', 'Shyam', 'Sita', 'Gita' ];
    document.getElementById("userN").innerHTML = "Welcome " + JSON.parse('{{{userSession}}}');
    let genres1 = JSON.parse(`{{{responseObject}}}`);

    let genrelist = document.getElementById("genreList");

    if(genres1.length === 0){
        let li = document.createElement("li");
        li.innerText = "You have no favorite genres!";
        genrelist.appendChild(li);
    }else{
        genres1.forEach((item)=>{
            let li = document.createElement("li");
            li.innerText = item;
            genrelist.appendChild(li);
        })
    }

    let favorites1 = JSON.parse(`{{{userFavorites}}}`);

    let favoritelist2 = document.getElementById("favoritesList");

    if(favorites1.length === 0){
        let li = document.createElement("li");
        li.innerText = "You have no favorite movies!";
        favoritelist2.appendChild(li);
    }else{
    favorites1.forEach((item)=>{
       let li = document.createElement("li");
       li.innerText = item;
       favoritelist2.appendChild(li);
    })
    }
</script>
</html>