<!-- Right Side bar(buttons) -->
<div class="container-md" class= "Page_Navigation">
    <div class = "Logo_signout">
        <a type="button" href="https://cse442.com/" class="btn btn-outline-secondary Logo">Logo</a>
        <a type="button" href="https://cse442.com/" class="btn btn-outline-danger">Sign Out</a>
    </div>
    <div class = "Home_button"><a type="button" href="https://cse442.com/" class="btn btn-outline-success">Home</a></div>
    <div class = "Findfriend_button"><a type="button" href="https://cse442.com/" class="btn btn-outline-success">Find Friend</a></div>
    <div class = "Createroom_button"><a type="button" href="https://cse442.com/" class="btn btn-outline-success">Create Room</a></div>
    <div class = "Joinroom_button"><a type="button" href="https://cse442.com/" class="btn btn-outline-success">Join Room</a></div>
    <div class = "Profile_button"><a type="button" href="https://cse442.com/" class="btn btn-outline-success">Profile</a></div>
    <div class = "Help_button"><a type="button" href="https://cse442.com/" class="btn btn-outline-success">Help</a></div>
</div>