    <div class="Search_bar" >
        <h1 class="display-4">User Search</h1>
        <form id="find_user" action="request" method="post">
            <input type = "text" id="input_text" name="input_text" placeholder="Username">
            <button id="friend_button" class="btn btn-primary btn-md"> Find Friend! </button> 
            <p id="Response_text">{{Search_bar.feedback}}</p>
        </form>
    </div>