 <div class="jumbotron side-bar-jumbotron" name = "User_search">
                        <h1 class="display-4">User Search</h1>
                <!--Post Request
                <form id="find_user" action="find_user" method="post">
                    <input type = "text" id="user_name" name="user_name" placeholder="Username">
                    <p id="Search_popup"></p>
                    <button id="friend_button" class="btn btn-primary btn-md"> Find Friend! </button> 
                </form>
                -->
                <!-- Onclick -->
                <input type = "text" id="user_name" name="user_name" placeholder="Username">
                <p id="Search_popup"></p>
                <button id="friend_button" onclick = "search_pressed()" class="btn btn-primary btn-md"> Find Friend! </button> 
            </div>