.side-bar-jumbotron {
    background-color:#e1e4e7;
    width: 300px;
    height: 80%;
    margin: 0 auto;
    text-align:Center
  }

.Logo{
    border-radius: 50%;
}

.Add_Friends{
    width: 300px;
   
    margin: 0 auto;
    text-align:Center
}